<!-- views/books/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Books</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1>Here's all the Books</h1>
    <a href="/books/new">Add a New Book</a>
    <ul>
  <% books.forEach(book => { %>
  <li>
    The book: <%= book.name %> reviewed by <%= book.owner.username %>.
    <a href="/books/<%= book._id %>">View Review.</a>
  </li>
  <% }) %>
</ul>
  </body>
</html> 
