<nav>
<% if (user) { %>
<div class="landing-header">
<div class="logo-container">
<div class="book-icon"></div>
<h1>Welcome to the App! <%= user.username %></h1>
</div>
<div class="nav-links">
<a href="/auth/sign-out">Sign out</a>
<a href="/books">View all books</a>
</div>
</div> 
<% } else { %>
<div class="logo-container">
<div class="book-icon"></div>
<h1>Welcome to the app, fellow reader.</h1>
</div>
<div class="auth-links">
<a href="/auth/sign-up">Sign up</a>
<a href="/auth/sign-in">Sign in</a>
</div>
</div>
<% } %>
</nav>